In [1]:
import pandas as pd
import numpy as np 
from sklearn.neighbors import KNeighborsClassifier
from matplotlib import pyplot as plt
import seaborn as sb

In [2]:
data=pd.read_csv(r"C:\Users\mail2\OneDrive\Desktop\ML-2022\Ml_Data\Bmi_male_female.csv")

In [3]:
#pwd

In [4]:
#data.describe()
#data.info()

In [5]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [6]:
X_male=data[data["Gender"]=="Male"]
x_female=data[data["Gender"]=="Female"]

In [7]:
len(X_male)

245

In [8]:
len(x_female)

255

In [9]:
X_male_index=X_male[X_male["Index"]==2]

In [10]:
X_male_index.shape

(28, 4)

In [11]:
#data.hist()
#plt.show()

In [12]:
#sb.countplot("Gender",data=data,hue="Index")
#plt.show()

In [13]:
# SEPARATE 
data.head(1)

  Gender  Height  Weight  Index
0   Male     174      96      4

In [78]:
X_GHW=data.iloc[:,0:3]
Y_index=data.iloc[:,3]

In [79]:
#X_GHW
#Y_index
print("type of X_GHW {} and  Y_index {}".format(type(X_GHW),type(Y_index)))

type of X_GHW <class 'pandas.core.frame.DataFrame'> and  Y_index <class 'pandas.core.series.Series'>

In [80]:
X_GHW.head(1)

  Gender  Height  Weight
0   Male     174      96

#### encoding male:1 and female:0

In [81]:
X_GHW.Gender[X_GHW["Gender"]=="Male"]=X_GHW.Gender[X_GHW["Gender"]=="Male"]=0
X_GHW.Gender[X_GHW["Gender"]=="Female"]=X_GHW.Gender[X_GHW["Gender"]=="Female"]=1
#X_GHW.Gender[X_GHW["Gender"]=="Male"]=1

C:\Users\mail2\AppData\Local\Temp\ipykernel_16044\645558885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_GHW.Gender[X_GHW["Gender"]=="Male"]=X_GHW.Gender[X_GHW["Gender"]=="Male"]=0
C:\Users\mail2\AppData\Local\Temp\ipykernel_16044\645558885.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_GHW.Gender[X_GHW["Gender"]=="Female"]=X_GHW.Gender[X_GHW["Gender"]=="Female"]=1

In [83]:
#X_GHW

In [84]:
my_index=pd.Series(["Extremely Weak","Weak","Normal","Overweight","Obesity","Extreme Obesity"])

In [86]:
#my_index

In [90]:
XA=X_GHW.values
Ya=Y_index.values

In [93]:
n=int(len(XA)*.70)
Xtrain=XA[:n]
Xtest=XA[n:]
Ytrain=Ya[:n]
Ytest=Ya[n:]

In [97]:
knn_model=KNeighborsClassifier(n_neighbors=5)

In [98]:
Knn_leaner=knn_model.fit(Xtrain,Ytrain)

In [102]:
result=Knn_leaner.predict([[1,162,47]])

In [103]:
my_index[result]

2    Normal
dtype: object

In [104]:
#Test

In [105]:
Yp=knn_model.predict(Xtest)

In [107]:
len(Yp)

150

In [110]:
#pd.DataFrame({"Yp":Yp,"Ya":Ytest})

In [111]:
from sklearn.metrics import accuracy_score

In [113]:
acc_score=accuracy_score(Ytest,Yp)*100
acc_score

91.33333333333333